<div class="maindiv">
    <img src="../../assets/images/11.jpg" alt="" class="vector">
    <div class="inner">
        <h1>Welcome!!!</h1>
        <h1>YOU TELL, I Do </h1><br>
        <h2>Please Sign In as a Master or Student to proceed.....</h2>
        
        
        <button id="master" (click)="masterSigning()" class="button-secondary">MASTER</button>
        <button id="student" style="margin-left: 10px;" (click)="studentSigning()" class="button-secondary">STUDENT</button>
        <button routerLink="/login" class="button-login" style="margin-left: 10px;margin-top: 20px">alreay user ...login</button>
    </div>
    
</div>